<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="stylesheet" href="/css/style.css"> -->
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/new.css">
  <link rel="stylesheet" href="/css/upload-video.css">
  <link rel="stylesheet" href="/css/background.css">
  <title>GreeCard</title>
</head>

<body>
  <div class="container">
    <div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
    </div>

    <h1 style="border: 6px solid;
    display: block;
    padding: 0.15em 0.65em;
    scale: 0.75;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1.5em;">GreeCard</h1>

    <h3>
      <%= msg %>
    </h3>

    <form action="/" method="post" enctype="multipart/form-data">

      <div id="upload-video" style="display: flex;" class="file-drop-area">
        <span class="fake-btn">Choose files</span>
        <span class="file-msg">or drag and drop files here</span>
        <input class="file-input" type="file" accept="image/*" name="img" id="img" required />
      </div>

      <br /><br />

      <div>
        <label for="name">Enter Name</label>
        <input type="text" name="name" id="name" required />
      </div>
      <br /><br />
      <input class="overlay__btn overlay__btn--colors" type="submit" value="Submit" />
    </form>

    <div class="image-preview" id="imagePreview">
      <img src="" alt="Image Preview" class="image-preview__image" />
      <span style="position: absolute; color: black;" class="image-name__default-text">Card Name</span>
      <span class="image-preview__default-text">Image Preview</span>
    </div>

    <br />
    <!-- <a href="/write">Write img</a> -->
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    const inpImg = document.getElementById("img");
    const previewCont = document.getElementById("imagePreview");
    const previewImg = document.querySelector(".image-preview__image");
    const previewDefaultText = previewCont.querySelector(".image-preview__default-text");
    var nameDefaultText = previewCont.querySelector(".image-name__default-text");
    nameDefaultText.style.display = 'none';

    inpImg.addEventListener("change", function () {
      const file = this.files[0];
      if (file) {
        const reader = new FileReader();

        previewDefaultText.style.display = 'none';
        nameDefaultText.style.display = 'block';
        previewImg.style.display = 'block';

        reader.addEventListener("load", function () {
          previewImg.setAttribute("src", this.result);
        });
        reader.readAsDataURL(file);
      } else {
        previewDefaultText.style.display = null;
        nameDefaultText.style.display = 'block';
        previewImg.style.display = null;
        previewImg.setAttribute("src", "");
      }
    });
  </script>

  <script>
    $("#name").on("input", function () {
      nameDefaultText.innerHTML = $(this).val();
    });
  </script>


</body>

</html>