<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/new.css">
    <link rel="stylesheet" href="/css/upload-video.css">
    <link rel="stylesheet" href="/css/background.css">
    <title>GreeCard</title>
</head>

<body style="background: #F6F6F4 !important;">
    
    
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;" class="container">
        <div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
        </div>

        <h1 style="border: 6px solid;
    display: block;
    padding: 0.15em 0.65em;
    scale: 0.75;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 0em;">GreeCard</h1>



        <div style="width: 50%; text-align: center; margin: 0 auto;">
            <img style="width: 100%; text-align: center;" src="/imgs/pdmisc1-16-nap.jpg" alt="">
        </div>

        <a href="/demo" class="overlay__btn overlay__btn--colors">View Demo</a>

        <!-- <a
      href="https://www.freepik.com/free-vector/notes-concept-illustration_6183538.htm#query=writing&position=2&from_view=search&track=sph">Image
      by storyset on Freepik
    </a> -->

        <!-- <a
      href="https://www.freepik.com/free-vector/vintage-hand-writing-paper-illustration-vector-remixed-from-public-domain-artwork_17433616.htm#query=writing&position=1&from_view=search&track=sph">Image
      by rawpixel.com on Freepik
    </a> -->

    </div>

</body>

</html>