*{
  border-radius: 3px;
}
body {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  color: #3a3a3a;
  background: linear-gradient(25deg, #ccc, #ddd);
}

div {
  background-color: #fff;
  box-shadow: #3a3a3a -15px 15px 25px -17px;
  border: 3px solid #7c7c7c;
  padding: 2em;
  margin: auto;
}
.container {
}

input {
  outline-style: none;
  border: 0px;
  border-bottom: 2px solid #7c7c7c;
}

a, input[type="submit"] {
  background-color: white;
  color: #7c7c7c;
  text-decoration: none;
  border: 1.5px solid #7c7c7c;
  padding: 0.5rem;
  transition: all ease-in-out 0.2s;
}

a:hover, input[type="submit"]:hover {
  background-color: #7c7c7c;
  color: #fff;
}

.image-preview {
  width: 300px;
  min-height: 100px;
  border: 2px solid #dddddd;
  margin-top: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #cccccc;
}

.image-preview__image {
  display: none;
  width: 100%;
}
